body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--var-color-theme-dark-bg-darkest);
	height: 100dvh;
}

#app-structure-content-wrapper {
	flex-grow: 1;
	background-color: var(--var-color-theme-dark-bg-darkest);
	border: 2px solid var(--var-color-theme-dark-bg-dark);
}

#app-structure-statusbar {
	flex-grow: 0;
	height: 30px;
	margin-top: 2px;
	background-color: var(--var-color-theme-dark-bg-darkest);
	border: 2px solid var(--var-color-theme-dark-bg-dark);
	box-sizing: border-box;
}